

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('http://www.messagez.com/wp-content/gallery/lisbon/best-of-portugal-lisbon-panoramic-photography-19-by-messagez-com_.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do for fun...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>This is probably my fourth blog in the creation.  I wanted to try to make something simple without the fancy graphics just basic functionality.</p>
                <p>I created this blog following the tutorial in "Rails Crash Course" by Anthony Lewis. A user of this blog system can create, update, show and delete their blog post using basic html markups within their blog.</p>
                <p>I have decided to leave image uploading out of this for the simple fact that I wish to use my AWS account for other projects.</p>
              <p>This blog is only meant for showing off my basic skills and understanding of rails by setting up a blog.</p>
            </div>
        </div>
    </div>

    <hr>

